In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [2]:
import os #The OS module in Python provides functions for creating and removing a directory 
#(folder), fetching its contents, changing and identifying the current directory
import glob #glob (short for global) is used to return all file paths that match a specific pattern.

In [3]:
#function to concat all 12 months csv files 
def get_merged_df(data_folder_path: str) -> pd.DataFrame:
    files = list(os.listdir(data_folder_path)) #list of csv files in that directory
    file_paths = [data_folder_path + f for f in files] #location for each csv file 
    #load all files
    #df_per_file is a generator object where all the csv are read 
    df_per_file = (pd.read_csv(fp, 
                               low_memory = False, #data chunk (packet data with mixed type inference)
                               parse_dates = ['started_at', 'ended_at'], #converted to datetime datatype
                               infer_datetime_format = True,
                               memory_map = True)#map the file object directly onto memory and access the data directly from there
                  for fp in file_paths)
    return pd.concat(df_per_file, ignore_index = True) # all files are concatenated 
# calling the function passing the location of DATA folder
df = get_merged_df(os.getcwd() + "\\DATA\\")

In [4]:
os.getcwd() + "\\DATA\\"    #gives the location

'C:\\Users\\kishore kumar\\Desktop\\google data\\CASE STUDY PROJECT\\CASE STUDY 1 CYCLIST PROJECT\\DATA\\'

In [5]:
files = list(os.listdir(os.getcwd() + "\\DATA\\"))
files #all the files inside the folder Data

['202104-divvy-tripdata.csv',
 '202105-divvy-tripdata.csv',
 '202106-divvy-tripdata.csv',
 '202107-divvy-tripdata.csv',
 '202108-divvy-tripdata.csv',
 '202109-divvy-tripdata.csv',
 '202110-divvy-tripdata.csv',
 '202111-divvy-tripdata.csv',
 '202112-divvy-tripdata.csv',
 '202201-divvy-tripdata.csv',
 '202202-divvy-tripdata.csv',
 '202203-divvy-tripdata.csv']

In [6]:
file_paths = [os.getcwd() + "\\DATA\\"  + f for f in files]
file_paths  #getting each file with their location

['C:\\Users\\kishore kumar\\Desktop\\google data\\CASE STUDY PROJECT\\CASE STUDY 1 CYCLIST PROJECT\\DATA\\202104-divvy-tripdata.csv',
 'C:\\Users\\kishore kumar\\Desktop\\google data\\CASE STUDY PROJECT\\CASE STUDY 1 CYCLIST PROJECT\\DATA\\202105-divvy-tripdata.csv',
 'C:\\Users\\kishore kumar\\Desktop\\google data\\CASE STUDY PROJECT\\CASE STUDY 1 CYCLIST PROJECT\\DATA\\202106-divvy-tripdata.csv',
 'C:\\Users\\kishore kumar\\Desktop\\google data\\CASE STUDY PROJECT\\CASE STUDY 1 CYCLIST PROJECT\\DATA\\202107-divvy-tripdata.csv',
 'C:\\Users\\kishore kumar\\Desktop\\google data\\CASE STUDY PROJECT\\CASE STUDY 1 CYCLIST PROJECT\\DATA\\202108-divvy-tripdata.csv',
 'C:\\Users\\kishore kumar\\Desktop\\google data\\CASE STUDY PROJECT\\CASE STUDY 1 CYCLIST PROJECT\\DATA\\202109-divvy-tripdata.csv',
 'C:\\Users\\kishore kumar\\Desktop\\google data\\CASE STUDY PROJECT\\CASE STUDY 1 CYCLIST PROJECT\\DATA\\202110-divvy-tripdata.csv',
 'C:\\Users\\kishore kumar\\Desktop\\google data\\CASE STUDY PROJECT\\CASE STUDY 1 CYCLIST PROJECT\\DATA\\202111-divvy-tripdata.csv',
 'C:\\Users\\kishore kumar\\Desktop\\google data\\CASE STUDY PROJECT\\CASE STUDY 1 CYCLIST PROJECT\\DATA\\202112-divvy-tripdata.csv',
 'C:\\Users\\kishore kumar\\Desktop\\google data\\CASE STUDY PROJECT\\CASE STUDY 1 CYCLIST PROJECT\\DATA\\202201-divvy-tripdata.csv',
 'C:\\Users\\kishore kumar\\Desktop\\google data\\CASE STUDY PROJECT\\CASE STUDY 1 CYCLIST PROJECT\\DATA\\202202-divvy-tripdata.csv',
 'C:\\Users\\kishore kumar\\Desktop\\google data\\CASE STUDY PROJECT\\CASE STUDY 1 CYCLIST PROJECT\\DATA\\202203-divvy-tripdata.csv']

In [7]:
#creating a generator object and reading all the files in file_paths
df_per_file = (pd.read_csv(fp, 
                               low_memory = False, 
                               parse_dates = ['started_at', 'ended_at'], #cnverted to datetime datatype
                               infer_datetime_format = True,
                               memory_map = True)
                  for fp in file_paths)
for i in df_per_file:  #printing the generator object
    print(i)

                 ride_id  rideable_type          started_at  \
0       6C992BD37A98A63F   classic_bike 2021-04-12 18:25:36
1       1E0145613A209000    docked_bike 2021-04-27 17:27:11
2       E498E15508A80BAD    docked_bike 2021-04-03 12:42:45
3       1887262AD101C604   classic_bike 2021-04-17 09:17:42
4       C123548CAB2A32A5    docked_bike 2021-04-03 12:42:25
...                  ...            ...                 ...
337225  461A6B0728E063DB   classic_bike 2021-04-09 17:09:03
337226  CF1D3A35E3654F6F    docked_bike 2021-04-04 13:27:08
337227  4308ADB9171ACE49   classic_bike 2021-04-30 18:15:40
337228  04DFB53077A17DA2  electric_bike 2021-04-18 11:40:37
337229  DB6F78ABBECA378C   classic_bike 2021-04-23 19:22:16

                  ended_at                   start_station_name  \
0      2021-04-12 18:56:55                State St & Pearson St
1      2021-04-27 18:31:29             Dorchester Ave & 49th St
2      2021-04-07 11:40:24                Loomis Blvd & 84th St
3      2021-04-17 09:42:48              Honore St & Division St
4      2021-04-03 14:13:42                Loomis Blvd & 84th St
...                    ...                                  ...
337225 2021-04-09 17:16:16  Mies van der Rohe Way & Chestnut St
337226 2021-04-04 14:41:11  Mies van der Rohe Way & Chestnut St
337227 2021-04-30 19:12:44  Mies van der Rohe Way & Chestnut St
337228 2021-04-18 11:46:03  Mies van der Rohe Way & Chestnut St
337229 2021-04-23 19:41:07               Kedzie Ave & Palmer Ct

       start_station_id              end_station_name end_station_id  \
0          TA1307000061  Southport Ave & Waveland Ave          13235
1          KA1503000069      Dorchester Ave & 49th St   KA1503000069
2                 20121         Loomis Blvd & 84th St          20121
3          TA1305000034  Southport Ave & Waveland Ave          13235
4                 20121         Loomis Blvd & 84th St          20121
...                 ...                           ...            ...
337225            15529     Franklin St & Chicago Ave          13017
337226            15529       Streeter Dr & Grand Ave          13022
337227            15529       Streeter Dr & Grand Ave          13022
337228            15529     Franklin St & Chicago Ave          13017
337229            13292  Milwaukee Ave & Wabansia Ave          13243

        start_lat  start_lng    end_lat    end_lng member_casual
0       41.897448 -87.628722  41.948150 -87.663940        member
1       41.805772 -87.592464  41.805772 -87.592464        casual
2       41.741487 -87.658410  41.741487 -87.658410        casual
3       41.903119 -87.673935  41.948150 -87.663940        member
4       41.741487 -87.658410  41.741487 -87.658410        casual
...           ...        ...        ...        ...           ...
337225  41.898587 -87.621915  41.896747 -87.635668        member
337226  41.898587 -87.621915  41.892278 -87.612043        casual
337227  41.898587 -87.621915  41.892278 -87.612043        member
337228  41.898263 -87.622416  41.894942 -87.630438        member
337229  41.921525 -87.707322  41.912616 -87.681391        member

[337230 rows x 13 columns]
                 ride_id  rideable_type          started_at  \
0       C809ED75D6160B2A  electric_bike 2021-05-30 11:58:15
1       DD59FDCE0ACACAF3  electric_bike 2021-05-30 11:29:14
2       0AB83CB88C43EFC2  electric_bike 2021-05-30 14:24:01
3       7881AC6D39110C60  electric_bike 2021-05-30 14:25:51
4       853FA701B4582BAF  electric_bike 2021-05-30 18:15:39
...                  ...            ...                 ...
531628  EF56D7D1D612AC11  electric_bike 2021-05-20 16:32:14
531629  745191CB9F21DE3C   classic_bike 2021-05-29 16:40:37
531630  428575BAA5356BFF  electric_bike 2021-05-31 14:24:54
531631  FC8A4A7AB7249662  electric_bike 2021-05-25 16:01:33
531632  E873B8AA3EE84678    docked_bike 2021-05-12 12:22:14

                  ended_at               start_station_name start_station_id  \
0      2021-05-30 12:10:39                              NaN              NaN
1      2021-05-30 12:14:09                              NaN              NaN
2      2021-05-30 14:25:13                              NaN              NaN
3      2021-05-30 14:41:04                              NaN              NaN
4      2021-05-30 18:22:32                              NaN              NaN
...                    ...                              ...              ...
531628 2021-05-20 16:35:39  Blackstone Ave & Hyde Park Blvd            13398
531629 2021-05-29 17:22:37       Sheridan Rd & Montrose Ave     TA1307000107
531630 2021-05-31 14:31:38       Sheridan Rd & Montrose Ave     TA1307000107
531631 2021-05-25 16:07:37       Sheridan Rd & Montrose Ave     TA1307000107
531632 2021-05-12 12:30:27       Sheridan Rd & Montrose Ave     TA1307000107

             end_station_name end_station_id  start_lat  start_lng   end_lat  \
0                         NaN            NaN  41.900000 -87.630000  41.89000
1                         NaN            NaN  41.880000 -87.620000  41.79000
2                         NaN            NaN  41.920000 -87.700000  41.92000
3                         NaN            NaN  41.920000 -87.700000  41.94000
4                         NaN            NaN  41.940000 -87.690000  41.94000
...                       ...            ...        ...        ...       ...
531628                    NaN            NaN  41.802581 -87.590230  41.80000
531629  Michigan Ave & Oak St          13042  41.961670 -87.654640  41.90096
531630                    NaN            NaN  41.961525 -87.654651  41.95000
531631                    NaN            NaN  41.961654 -87.654721  41.98000
531632    Clark St & Grace St   TA1307000127  41.961670 -87.654640  41.95078

          end_lng member_casual
0      -87.610000        casual
1      -87.580000        casual
2      -87.700000        casual
3      -87.690000        casual
4      -87.700000        casual
...           ...           ...
531628 -87.600000        member
531629 -87.623777        casual
531630 -87.650000        member
531631 -87.660000        member
531632 -87.659172        casual

[531633 rows x 13 columns]
                 ride_id  rideable_type          started_at  \
0       99FEC93BA843FB20  electric_bike 2021-06-13 14:31:28
1       06048DCFC8520CAF  electric_bike 2021-06-04 11:18:02
2       9598066F68045DF2  electric_bike 2021-06-04 09:49:35
3       B03C0FE48C412214  electric_bike 2021-06-03 19:56:05
4       B9EEA89F8FEE73B7  electric_bike 2021-06-04 14:05:51
...                  ...            ...                 ...
729590  CB282292CCFCE74F  electric_bike 2021-06-14 00:17:31
729591  47BD346FAFB9BE6D   classic_bike 2021-06-30 17:35:10
729592  52467C23D17C6AFE   classic_bike 2021-06-13 19:24:30
729593  7DF6D74420D7D9E6  electric_bike 2021-06-08 15:44:28
729594  0C01F8BA99E512E5  electric_bike 2021-06-03 16:18:38

                  ended_at      start_station_name start_station_id  \
0      2021-06-13 14:34:11                     NaN              NaN
1      2021-06-04 11:24:19                     NaN              NaN
2      2021-06-04 09:55:34                     NaN              NaN
3      2021-06-03 20:21:55                     NaN              NaN
4      2021-06-04 14:09:59                     NaN              NaN
...                    ...                     ...              ...
729590 2021-06-14 00:56:46      Wells St & Polk St           SL-011
729591 2021-06-30 17:43:20  Clark St & Chicago Ave            13303
729592 2021-06-13 19:34:11   Indiana Ave & 26th St     TA1307000005
729593 2021-06-08 16:15:01  Clark St & Chicago Ave            13303
729594 2021-06-03 16:47:49  Clark St & Chicago Ave            13303

                end_station_name end_station_id  start_lat  start_lng  \
0                            NaN            NaN  41.800000 -87.590000
1                            NaN            NaN  41.790000 -87.590000
2                            NaN            NaN  41.800000 -87.600000
3                            NaN            NaN  41.780000 -87.580000
4                            NaN            NaN  41.800000 -87.590000
...                          ...            ...        ...        ...
729590                       NaN            NaN  41.872412 -87.633715
729591  Kingsbury St & Kinzie St   KA1503000043  41.896750 -87.630890
729592        State St & 19th St         SL-013  41.845687 -87.622481
729593                       NaN            NaN  41.896485 -87.630608
729594                       NaN            NaN  41.896596 -87.630868

          end_lat    end_lng member_casual
0       41.800000 -87.600000        member
1       41.800000 -87.600000        member
2       41.790000 -87.590000        member
3       41.800000 -87.600000        member
4       41.790000 -87.590000        member
...           ...        ...           ...
729590  41.880000 -87.620000        casual
729591  41.889177 -87.638506        member
729592  41.856594 -87.627542        member
729593  41.940000 -87.710000        member
729594  41.940000 -87.710000        member

[729595 rows x 13 columns]

                 ride_id  rideable_type          started_at  \
0       0A1B623926EF4E16    docked_bike 2021-07-02 14:44:36
1       B2D5583A5A5E76EE   classic_bike 2021-07-07 16:57:42
2       6F264597DDBF427A   classic_bike 2021-07-25 11:30:55
3       379B58EAB20E8AA5   classic_bike 2021-07-08 22:08:30
4       6615C1E4EB08E8FB  electric_bike 2021-07-28 16:08:06
...                  ...            ...                 ...
822405  1E660BF8DCDAAAB6  electric_bike 2021-07-04 10:40:41
822406  A2448BDFD9B3653D  electric_bike 2021-07-04 12:47:41
822407  2D612BF8530379DA  electric_bike 2021-07-03 21:41:58
822408  6D615D18B765C9B3  electric_bike 2021-07-03 22:10:31
822409  0F31D311323F0048  electric_bike 2021-07-04 07:03:50

                  ended_at            start_station_name start_station_id  \
0      2021-07-02 15:19:58  Michigan Ave & Washington St            13001
1      2021-07-07 17:16:09    California Ave & Cortez St            17660
2      2021-07-25 11:48:45          Wabash Ave & 16th St           SL-012
3      2021-07-08 22:23:32    California Ave & Cortez St            17660
4      2021-07-28 16:27:09    California Ave & Cortez St            17660
...                    ...                           ...              ...
822405 2021-07-04 11:30:13                           NaN              NaN
822406 2021-07-04 12:54:46                           NaN              NaN
822407 2021-07-03 21:57:14                           NaN              NaN
822408 2021-07-03 22:11:39                           NaN              NaN
822409 2021-07-04 07:32:38                           NaN              NaN

                      end_station_name end_station_id  start_lat  start_lng  \
0         Halsted St & North Branch St   KA1504000117  41.883984 -87.624684
1                 Wood St & Hubbard St          13432  41.900363 -87.696704
2                 Rush St & Hubbard St   KA1503000044  41.860384 -87.625813
3              Carpenter St & Huron St          13196  41.900363 -87.696704
4       Elizabeth (May) St & Fulton St          13197  41.900350 -87.696682
...                                ...            ...        ...        ...
822405                             NaN            NaN  41.720000 -87.680000
822406                             NaN            NaN  41.770000 -87.660000
822407                             NaN            NaN  41.720000 -87.680000
822408                             NaN            NaN  41.720000 -87.680000
822409                             NaN            NaN  41.720000 -87.680000

          end_lat    end_lng member_casual
0       41.899368 -87.648480        casual
1       41.889899 -87.671473        casual
2       41.890173 -87.626185        member
3       41.894556 -87.653449        member
4       41.886593 -87.658387        casual
...           ...        ...           ...
822405  41.770000 -87.660000        member
822406  41.780000 -87.660000        member
822407  41.720000 -87.680000        member
822408  41.720000 -87.680000        member
822409  41.720000 -87.680000        member

[822410 rows x 13 columns]
                 ride_id  rideable_type          started_at  \
0       99103BB87CC6C1BB  electric_bike 2021-08-10 17:15:49
1       EAFCCCFB0A3FC5A1  electric_bike 2021-08-10 17:23:14
2       9EF4F46C57AD234D  electric_bike 2021-08-21 02:34:23
3       5834D3208BFAF1DA  electric_bike 2021-08-21 06:52:55
4       CD825CB87ED1D096  electric_bike 2021-08-19 11:55:29
...                  ...            ...                 ...
804347  5E5C9CD681E0419C   classic_bike 2021-08-07 18:07:43
804348  96FB57CF4AA456F6  electric_bike 2021-08-09 08:49:31
804349  226A0910DCCE904C   classic_bike 2021-08-12 16:55:57
804350  1A97D27AE23DE1E7   classic_bike 2021-08-08 22:47:43
804351  BBC36E4AA3652361  electric_bike 2021-08-27 18:53:53

                  ended_at        start_station_name start_station_id  \
0      2021-08-10 17:22:44                       NaN              NaN
1      2021-08-10 17:39:24                       NaN              NaN
2      2021-08-21 02:50:36                       NaN              NaN
3      2021-08-21 07:08:13                       NaN              NaN
4      2021-08-19 12:04:11                       NaN              NaN
...                    ...                       ...              ...
804347 2021-08-07 18:21:21  Wells St & Evergreen Ave     TA1308000049
804348 2021-08-09 09:03:51    Broadway & Sheridan Rd            13323
804349 2021-08-12 17:15:10    Dearborn St & Adams St     TA1305000005
804350 2021-08-08 23:08:12    Broadway & Sheridan Rd            13323
804351 2021-08-27 19:02:16   Paulina Ave & North Ave     TA1305000037

                   end_station_name end_station_id  start_lat  start_lng  \
0                               NaN            NaN  41.770000 -87.680000
1                               NaN            NaN  41.770000 -87.680000
2                               NaN            NaN  41.950000 -87.650000
3                               NaN            NaN  41.970000 -87.670000
4                               NaN            NaN  41.790000 -87.600000
...                             ...            ...        ...        ...
804347  Lincoln Ave & Diversey Pkwy   TA1307000064  41.906724 -87.634830
804348       Clark St & Lincoln Ave          13179  41.952709 -87.649940
804349       Clark St & Lincoln Ave          13179  41.879356 -87.629791
804350      Clark St & Winnemac Ave   TA1309000035  41.952833 -87.649993
804351        Dayton St & North Ave          13058  41.909851 -87.669808

          end_lat    end_lng member_casual
0       41.770000 -87.680000        member
1       41.770000 -87.630000        member
2       41.970000 -87.660000        member
3       41.950000 -87.650000        member
4       41.770000 -87.620000        member
...           ...        ...           ...
804347  41.932225 -87.658617        member
804348  41.915973 -87.634762        member
804349  41.915689 -87.634600        member
804350  41.973348 -87.667855        casual
804351  41.910674 -87.649547        casual

[804352 rows x 13 columns]
                 ride_id  rideable_type          started_at  \
0       9DC7B962304CBFD8  electric_bike 2021-09-28 16:07:10
1       F930E2C6872D6B32  electric_bike 2021-09-28 14:24:51
2       6EF72137900BB910  electric_bike 2021-09-28 00:20:16
3       78D1DE133B3DBF55  electric_bike 2021-09-28 14:51:17
4       E03D4ACDCAEF6E00  electric_bike 2021-09-28 09:53:12
...                  ...            ...                 ...
756142  FA66BCAB0D73DDC2   classic_bike 2021-09-22 15:46:57
756143  1D44DEFB5D36CA04   classic_bike 2021-09-25 16:25:23
756144  6A346EA57FC23C45   classic_bike 2021-09-25 16:26:05
756145  49360AFD771100A6   classic_bike 2021-09-15 17:57:48
756146  343190A2DC023FED  electric_bike 2021-09-11 18:01:06

                  ended_at   start_station_name start_station_id  \
0      2021-09-28 16:09:54                  NaN              NaN
1      2021-09-28 14:40:05                  NaN              NaN
2      2021-09-28 00:23:57                  NaN              NaN
3      2021-09-28 15:00:06                  NaN              NaN
4      2021-09-28 10:03:44                  NaN              NaN
...                    ...                  ...              ...
756142 2021-09-22 16:01:15  Ellis Ave & 83rd St              584
756143 2021-09-25 16:40:29  Ellis Ave & 60th St     KA1503000014
756144 2021-09-25 16:40:30  Ellis Ave & 60th St     KA1503000014
756145 2021-09-15 18:24:06  Ellis Ave & 60th St     KA1503000014
756146 2021-09-11 18:08:26  Wells St & Huron St     TA1306000012

                  end_station_name end_station_id  start_lat  start_lng  \
0                              NaN            NaN  41.890000 -87.680000
1                              NaN            NaN  41.940000 -87.640000
2                              NaN            NaN  41.810000 -87.720000
3                              NaN            NaN  41.800000 -87.720000
4                              NaN            NaN  41.880000 -87.740000
...                            ...            ...        ...        ...
756142  Stony Island Ave & 75th St   KA1503000019  41.744123 -87.599034
756143          Shore Dr & 55th St   TA1308000009  41.785097 -87.601073
756144          Shore Dr & 55th St   TA1308000009  41.785097 -87.601073
756145          Shore Dr & 55th St   TA1308000009  41.785097 -87.601073
756146        Clinton St & Lake St          13021  41.894887 -87.634343

          end_lat    end_lng member_casual
0       41.890000 -87.670000        casual
1       41.980000 -87.670000        casual
2       41.800000 -87.720000        casual
3       41.810000 -87.720000        casual
4       41.880000 -87.710000        casual
...           ...        ...           ...
756142  41.758670 -87.586883        casual
756143  41.795212 -87.580715        casual
756144  41.795212 -87.580715        casual
756145  41.795212 -87.580715        casual
756146  41.885771 -87.641373        member

[756147 rows x 13 columns]

                 ride_id  rideable_type          started_at  \
0       620BC6107255BF4C  electric_bike 2021-10-22 12:46:42
1       4471C70731AB2E45  electric_bike 2021-10-21 09:12:37
2       26CA69D43D15EE14  electric_bike 2021-10-16 16:28:39
3       362947F0437E1514  electric_bike 2021-10-16 16:17:48
4       BB731DE2F2EC51C5  electric_bike 2021-10-20 23:17:54
...                  ...            ...                 ...
631221  BA077FDD42DABF12   classic_bike 2021-10-14 21:45:05
631222  B7D99254E798AA6B   classic_bike 2021-10-02 15:28:28
631223  BCCFD66DA466400F  electric_bike 2021-10-08 16:47:10
631224  623E0F6F50CDD6E4   classic_bike 2021-10-08 07:49:47
631225  83FA6AC52B7B7A7B   classic_bike 2021-10-02 12:55:45

                  ended_at           start_station_name start_station_id  \
0      2021-10-22 12:49:50     Kingsbury St & Kinzie St     KA1503000043
1      2021-10-21 09:14:14                          NaN              NaN
2      2021-10-16 16:36:26                          NaN              NaN
3      2021-10-16 16:19:03                          NaN              NaN
4      2021-10-20 23:26:10                          NaN              NaN
...                    ...                          ...              ...
631221 2021-10-14 22:07:25    Franklin St & Chicago Ave            13017
631222 2021-10-02 15:51:02      Streeter Dr & Grand Ave            13022
631223 2021-10-08 16:52:43        Calumet Ave & 21st St            15546
631224 2021-10-08 07:55:15        Calumet Ave & 21st St            15546
631225 2021-10-02 13:21:10  Winthrop Ave & Lawrence Ave     TA1308000021

                     end_station_name end_station_id  start_lat  start_lng  \
0                                 NaN            NaN  41.889186 -87.638495
1                                 NaN            NaN  41.930000 -87.700000
2                                 NaN            NaN  41.920000 -87.700000
3                                 NaN            NaN  41.920000 -87.690000
4                                 NaN            NaN  41.890000 -87.710000
...                               ...            ...        ...        ...
631221         Michigan Ave & 14th St   TA1307000124  41.896747 -87.635668
631222         Michigan Ave & 14th St   TA1307000124  41.892278 -87.612043
631223         Michigan Ave & 14th St   TA1307000124  41.854055 -87.619187
631224         Michigan Ave & 14th St   TA1307000124  41.854184 -87.619154
631225  Sheffield Ave & Fullerton Ave   TA1306000016  41.968812 -87.657659

          end_lat    end_lng member_casual
0       41.890000 -87.630000        member
1       41.930000 -87.710000        member
2       41.940000 -87.720000        member
3       41.920000 -87.690000        member
4       41.890000 -87.690000        member
...           ...        ...           ...
631221  41.864059 -87.623727        casual
631222  41.864059 -87.623727        casual
631223  41.864009 -87.623601        member
631224  41.864059 -87.623727        member
631225  41.925602 -87.653708        member

[631226 rows x 13 columns]
                 ride_id  rideable_type          started_at  \
0       7C00A93E10556E47  electric_bike 2021-11-27 13:27:38
1       90854840DFD508BA  electric_bike 2021-11-27 13:38:25
2       0A7D10CDD144061C  electric_bike 2021-11-26 22:03:34
3       2F3BE33085BCFF02  electric_bike 2021-11-27 09:56:49
4       D67B4781A19928D4  electric_bike 2021-11-26 19:09:28
...                  ...            ...                 ...
359973  E00E9F3500D69BAA  electric_bike 2021-11-29 00:39:13
359974  8EAA66CE314E5FF1  electric_bike 2021-11-03 13:56:33
359975  36C2DC8BB1E13491  electric_bike 2021-11-02 19:32:18
359976  8E42FE5C67DF6A96  electric_bike 2021-11-10 20:15:06
359977  4F15069E2D2519BC  electric_bike 2021-11-30 20:18:00

                  ended_at       start_station_name start_station_id  \
0      2021-11-27 13:46:38                      NaN              NaN
1      2021-11-27 13:56:10                      NaN              NaN
2      2021-11-26 22:05:56                      NaN              NaN
3      2021-11-27 10:01:50                      NaN              NaN
4      2021-11-26 19:30:41                      NaN              NaN
...                    ...                      ...              ...
359973 2021-11-29 00:51:41  Logan Blvd & Elston Ave     TA1308000031
359974 2021-11-03 14:01:27  Logan Blvd & Elston Ave     TA1308000031
359975 2021-11-02 19:36:16  Logan Blvd & Elston Ave     TA1308000031
359976 2021-11-10 20:22:01  Logan Blvd & Elston Ave     TA1308000031
359977 2021-11-30 20:37:27  Ogden Ave & Chicago Ave     TA1305000020

       end_station_name end_station_id  start_lat  start_lng  end_lat  \
0                   NaN            NaN  41.930000 -87.720000    41.96
1                   NaN            NaN  41.960000 -87.700000    41.92
2                   NaN            NaN  41.960000 -87.700000    41.96
3                   NaN            NaN  41.940000 -87.790000    41.93
4                   NaN            NaN  41.900000 -87.630000    41.88
...                 ...            ...        ...        ...      ...
359973              NaN            NaN  41.929454 -87.684195    41.93
359974              NaN            NaN  41.929440 -87.684180    41.94
359975              NaN            NaN  41.929452 -87.684135    41.94
359976              NaN            NaN  41.929428 -87.684175    41.94
359977              NaN            NaN  41.896354 -87.653982    41.95

        end_lng member_casual
0        -87.73        casual
1        -87.70        casual
2        -87.70        casual
3        -87.79        casual
4        -87.62        casual
...         ...           ...
359973   -87.72        member
359974   -87.69        member
359975   -87.69        member
359976   -87.69        member
359977   -87.70        member

[359978 rows x 13 columns]
                 ride_id  rideable_type          started_at  \
0       46F8167220E4431F  electric_bike 2021-12-07 15:06:07
1       73A77762838B32FD  electric_bike 2021-12-11 03:43:29
2       4CF42452054F59C5  electric_bike 2021-12-15 23:10:28
3       3278BA87BF698339   classic_bike 2021-12-26 16:16:10
4       6FF54232576A3B73  electric_bike 2021-12-30 11:31:05
...                  ...            ...                 ...
247535  847431F3D5353AB7  electric_bike 2021-12-12 13:36:55
247536  CF407BBC3B9FAD63  electric_bike 2021-12-06 19:37:50
247537  60BB69EBF5440E92  electric_bike 2021-12-02 08:57:04
247538  C414F654A28635B8  electric_bike 2021-12-13 09:00:26
247539  37AC57E34B2E7E97   classic_bike 2021-12-13 08:45:32

                  ended_at            start_station_name start_station_id  \
0      2021-12-07 15:13:42      Laflin St & Cullerton St            13307
1      2021-12-11 04:10:23         LaSalle Dr & Huron St     KP1705001026
2      2021-12-15 23:23:14  Halsted St & North Branch St     KA1504000117
3      2021-12-26 16:30:53  Halsted St & North Branch St     KA1504000117
4      2021-12-30 11:51:21      Leavitt St & Chicago Ave            18058
...                    ...                           ...              ...
247535 2021-12-12 13:56:08         Canal St & Madison St            13341
247536 2021-12-06 19:44:51         Canal St & Madison St            13341
247537 2021-12-02 09:05:21         Canal St & Madison St            13341
247538 2021-12-13 09:14:39        Lawndale Ave & 16th St            362.0
247539 2021-12-13 08:49:09   Michigan Ave & Jackson Blvd     TA1309000002

                  end_station_name end_station_id  start_lat  start_lng  \
0              Morgan St & Polk St   TA1307000130  41.854833 -87.663660
1       Clarendon Ave & Leland Ave   TA1307000119  41.894405 -87.632331
2             Broadway & Barry Ave          13137  41.899357 -87.648522
3            LaSalle Dr & Huron St   KP1705001026  41.899390 -87.648545
4           Clark St & Drummond Pl   TA1307000142  41.895579 -87.682024
...                            ...            ...        ...        ...
247535                         NaN            NaN  41.882289 -87.639752
247536    Kingsbury St & Kinzie St   KA1503000043  41.882123 -87.640053
247537     Dearborn St & Monroe St   TA1305000006  41.881956 -87.639955
247538                         NaN            NaN  41.860000 -87.720000
247539     Dearborn St & Monroe St   TA1305000006  41.877850 -87.624080

          end_lat    end_lng member_casual
0       41.871969 -87.650965        member
1       41.967968 -87.650001        casual
2       41.937582 -87.644098        member
3       41.894877 -87.632326        member
4       41.931248 -87.644336        member
...           ...        ...           ...
247535  41.890000 -87.610000        casual
247536  41.889106 -87.638862        member
247537  41.880254 -87.629603        member
247538  41.850000 -87.710000        member
247539  41.881320 -87.629521        member

[247540 rows x 13 columns]

                 ride_id  rideable_type          started_at  \
0       C2F7DD78E82EC875  electric_bike 2022-01-13 11:59:47
1       A6CF8980A652D272  electric_bike 2022-01-10 08:41:56
2       BD0F91DFF741C66D   classic_bike 2022-01-25 04:53:40
3       CBB80ED419105406   classic_bike 2022-01-04 00:18:04
4       DDC963BFDDA51EEA   classic_bike 2022-01-20 01:31:10
...                  ...            ...                 ...
103765  8788DA3EDE8FD8AB  electric_bike 2022-01-18 12:36:48
103766  C6C3B64FDC827D8C  electric_bike 2022-01-27 11:00:06
103767  CA281AE7D8B06F5A  electric_bike 2022-01-10 16:14:51
103768  44E348991862319B  electric_bike 2022-01-19 13:22:11
103769  E477C594A182AE58  electric_bike 2022-01-13 17:24:43

                  ended_at             start_station_name start_station_id  \
0      2022-01-13 12:02:44       Glenwood Ave & Touhy Ave              525
1      2022-01-10 08:46:17       Glenwood Ave & Touhy Ave              525
2      2022-01-25 04:58:01  Sheffield Ave & Fullerton Ave     TA1306000016
3      2022-01-04 00:33:00       Clark St & Bryn Mawr Ave     KA1504000151
4      2022-01-20 01:37:12    Michigan Ave & Jackson Blvd     TA1309000002
...                    ...                            ...              ...
103765 2022-01-18 12:46:19   Clinton St & Washington Blvd           WL-012
103766 2022-01-27 11:02:40       Racine Ave & Randolph St            13155
103767 2022-01-10 16:20:58        Broadway & Waveland Ave            13325
103768 2022-01-19 13:24:27       Racine Ave & Randolph St            13155
103769 2022-01-13 17:28:14   Clinton St & Washington Blvd           WL-012

                     end_station_name end_station_id  start_lat  start_lng  \
0                Clark St & Touhy Ave         RP-007  42.012800 -87.665906
1                Clark St & Touhy Ave         RP-007  42.012763 -87.665967
2       Greenview Ave & Fullerton Ave   TA1307000001  41.925602 -87.653708
3           Paulina St & Montrose Ave   TA1309000021  41.983593 -87.669154
4              State St & Randolph St   TA1305000029  41.877850 -87.624080
...                               ...            ...        ...        ...
103765                            NaN            NaN  41.883436 -87.641391
103766                            NaN            NaN  41.884158 -87.656977
103767            Clark St & Grace St   TA1307000127  41.949066 -87.648611
103768                            NaN            NaN  41.884005 -87.657031
103769      Desplaines St & Kinzie St   TA1306000003  41.883248 -87.641244

          end_lat    end_lng member_casual
0       42.012560 -87.674367        casual
1       42.012560 -87.674367        casual
2       41.925330 -87.665800        member
3       41.961507 -87.671387        casual
4       41.884621 -87.627834        member
...           ...        ...           ...
103765  41.890000 -87.620000        casual
103766  41.880000 -87.650000        casual
103767  41.950780 -87.659172        casual
103768  41.880000 -87.660000        casual
103769  41.888716 -87.644448        casual

[103770 rows x 13 columns]
                 ride_id  rideable_type          started_at  \
0       E1E065E7ED285C02   classic_bike 2022-02-19 18:08:41
1       1602DCDC5B30FFE3   classic_bike 2022-02-20 17:41:30
2       BE7DD2AF4B55C4AF   classic_bike 2022-02-25 18:55:56
3       A1789BDF844412BE   classic_bike 2022-02-14 11:57:03
4       07DE78092C62F7B3   classic_bike 2022-02-16 05:36:06
...                  ...            ...                 ...
115604  211BE0DC162D85B7  electric_bike 2022-02-23 17:47:49
115605  D4D53E78000C8CA1  electric_bike 2022-02-04 10:43:47
115606  9E85F07D2F94492B  electric_bike 2022-02-28 09:16:33
115607  B61B559F81F1D823  electric_bike 2022-02-10 16:55:16
115608  841C701610CF0609  electric_bike 2022-02-21 16:35:20

                  ended_at            start_station_name start_station_id  \
0      2022-02-19 18:23:56        State St & Randolph St     TA1305000029
1      2022-02-20 17:45:56   Halsted St & Wrightwood Ave     TA1309000061
2      2022-02-25 19:09:34        State St & Randolph St     TA1305000029
3      2022-02-14 12:04:00  Southport Ave & Waveland Ave            13235
4      2022-02-16 05:39:00        State St & Randolph St     TA1305000029
...                    ...                           ...              ...
115604 2022-02-23 18:02:29                           NaN              NaN
115605 2022-02-04 10:50:52                           NaN              NaN
115606 2022-02-28 09:28:11         Wood St & Chicago Ave              637
115607 2022-02-10 16:57:53                           NaN              NaN
115608 2022-02-21 16:42:53                           NaN              NaN

                      end_station_name end_station_id  start_lat  start_lng  \
0               Clark St & Lincoln Ave          13179  41.884621 -87.627834
1       Southport Ave & Wrightwood Ave   TA1307000113  41.929143 -87.649077
2                  Canal St & Adams St          13011  41.884621 -87.627834
3               Broadway & Sheridan Rd          13323  41.948150 -87.663940
4                Franklin St & Lake St   TA1307000111  41.884621 -87.627834
...                                ...            ...        ...        ...
115604        Leavitt St & Chicago Ave          18058  41.880000 -87.630000
115605        Leavitt St & Chicago Ave          18058  41.910000 -87.680000
115606             Canal St & Adams St          13011  41.895714 -87.672210
115607             Canal St & Adams St          13011  41.880000 -87.630000
115608            Larrabee St & Oak St   KA1504000116  41.880000 -87.650000

          end_lat    end_lng member_casual
0       41.915689 -87.634600        member
1       41.928773 -87.663913        member
2       41.879255 -87.639904        member
3       41.952833 -87.649993        member
4       41.885837 -87.635500        member
...           ...        ...           ...
115604  41.895501 -87.682017        member
115605  41.895501 -87.682017        member
115606  41.879255 -87.639904        member
115607  41.879255 -87.639904        member
115608  41.900219 -87.642985        member

[115609 rows x 13 columns]
                 ride_id  rideable_type          started_at  \
0       47EC0A7F82E65D52   classic_bike 2022-03-21 13:45:01
1       8494861979B0F477  electric_bike 2022-03-16 09:37:16
2       EFE527AF80B66109   classic_bike 2022-03-23 19:52:02
3       9F446FD9DEE3F389   classic_bike 2022-03-01 19:12:26
4       431128AD9AFFEDC0   classic_bike 2022-03-21 18:37:01
...                  ...            ...                 ...
284037  E23BE3DB740BE3B4    docked_bike 2022-03-13 16:31:03
284038  15AF71F3220F2A75    docked_bike 2022-03-09 06:56:02
284039  9C4CE6CC19F8225B  electric_bike 2022-03-09 15:55:26
284040  F4E136DEF696F3AE  electric_bike 2022-03-21 16:12:44
284041  5AEC5F39AF711895   classic_bike 2022-03-03 18:13:40

                  ended_at                  start_station_name  \
0      2022-03-21 13:51:18              Wabash Ave & Wacker Pl
1      2022-03-16 09:43:34               Michigan Ave & Oak St
2      2022-03-23 19:54:48               Broadway & Berwyn Ave
3      2022-03-01 19:22:14              Wabash Ave & Wacker Pl
4      2022-03-21 19:19:11  DuSable Lake Shore Dr & North Blvd
...                    ...                                 ...
284037 2022-03-13 16:39:32               Michigan Ave & Oak St
284038 2022-03-09 07:42:14                Broadway & Barry Ave
284039 2022-03-09 16:08:54                                 NaN
284040 2022-03-21 16:18:24                                 NaN
284041 2022-03-03 18:23:39              Clark St & Randolph St

       start_station_id                      end_station_name end_station_id  \
0          TA1307000131              Kingsbury St & Kinzie St   KA1503000043
1                 13042  Orleans St & Chestnut St (NEXT Apts)            620
2                 13109                  Broadway & Ridge Ave          15578
3          TA1307000131            Franklin St & Jackson Blvd   TA1305000025
4                LF-005              Loomis St & Jackson Blvd          13206
...                 ...                                   ...            ...
284037            13042               Streeter Dr & Grand Ave          13022
284038            13137          Ravenswood Ave & Berteau Ave   TA1309000018
284039              NaN             Albany Ave & Montrose Ave          15621
284040              NaN             Larrabee St & Division St   KA1504000079
284041     TA1305000030               Streeter Dr & Grand Ave          13022

        start_lat  start_lng    end_lat    end_lng member_casual
0       41.886875 -87.626030  41.889177 -87.638506        member
1       41.900998 -87.623752  41.898203 -87.637536        member
2       41.978353 -87.659753  41.984045 -87.660274        member
3       41.886875 -87.626030  41.877708 -87.635321        member
4       41.911722 -87.626804  41.877945 -87.662007        member
...           ...        ...        ...        ...           ...
284037  41.900960 -87.623777  41.892278 -87.612043        casual
284038  41.937582 -87.644098  41.957921 -87.673567        casual
284039  41.940000 -87.710000  41.961041 -87.705866        member
284040  41.910000 -87.650000  41.903486 -87.643353        member
284041  41.884576 -87.631890  41.892278 -87.612043        member

[284042 rows x 13 columns]

In [8]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,6C992BD37A98A63F,classic_bike,2021-04-12 18:25:36,2021-04-12 18:56:55,State St & Pearson St,TA1307000061,Southport Ave & Waveland Ave,13235,41.897448,-87.628722,41.948150,-87.663940,member
1,1E0145613A209000,docked_bike,2021-04-27 17:27:11,2021-04-27 18:31:29,Dorchester Ave & 49th St,KA1503000069,Dorchester Ave & 49th St,KA1503000069,41.805772,-87.592464,41.805772,-87.592464,casual
2,E498E15508A80BAD,docked_bike,2021-04-03 12:42:45,2021-04-07 11:40:24,Loomis Blvd & 84th St,20121,Loomis Blvd & 84th St,20121,41.741487,-87.658410,41.741487,-87.658410,casual
3,1887262AD101C604,classic_bike,2021-04-17 09:17:42,2021-04-17 09:42:48,Honore St & Division St,TA1305000034,Southport Ave & Waveland Ave,13235,41.903119,-87.673935,41.948150,-87.663940,member
4,C123548CAB2A32A5,docked_bike,2021-04-03 12:42:25,2021-04-03 14:13:42,Loomis Blvd & 84th St,20121,Loomis Blvd & 84th St,20121,41.741487,-87.658410,41.741487,-87.658410,casual

In [9]:
df.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
5723527,E23BE3DB740BE3B4,docked_bike,2022-03-13 16:31:03,2022-03-13 16:39:32,Michigan Ave & Oak St,13042,Streeter Dr & Grand Ave,13022,41.900960,-87.623777,41.892278,-87.612043,casual
5723528,15AF71F3220F2A75,docked_bike,2022-03-09 06:56:02,2022-03-09 07:42:14,Broadway & Barry Ave,13137,Ravenswood Ave & Berteau Ave,TA1309000018,41.937582,-87.644098,41.957921,-87.673567,casual
5723529,9C4CE6CC19F8225B,electric_bike,2022-03-09 15:55:26,2022-03-09 16:08:54,NaN,NaN,Albany Ave & Montrose Ave,15621,41.940000,-87.710000,41.961041,-87.705866,member
5723530,F4E136DEF696F3AE,electric_bike,2022-03-21 16:12:44,2022-03-21 16:18:24,NaN,NaN,Larrabee St & Division St,KA1504000079,41.910000,-87.650000,41.903486,-87.643353,member
5723531,5AEC5F39AF711895,classic_bike,2022-03-03 18:13:40,2022-03-03 18:23:39,Clark St & Randolph St,TA1305000030,Streeter Dr & Grand Ave,13022,41.884576,-87.631890,41.892278,-87.612043,member

In [10]:
df.shape #dataframe contains (rows ,columns)

(5723532, 13)

In [11]:
df.info()
#for knowing datatype of the columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5723532 entries, 0 to 5723531
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 567.7+ MB

In [12]:
missing=df.isnull().sum()
missing # finding the number of null values in each column

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    745376
start_station_id      745373
end_station_name      796247
end_station_id        796247
start_lat                  0
start_lng                  0
end_lat                 4716
end_lng                 4716
member_casual              0
dtype: int64

In [13]:
df["end_station_name"].isnull().sum() 
#finding no of null values in end_station_name column because it has max null values

796247

In [14]:
df.shape[0]  #total no of rows in the data

5723532

In [15]:
(df["end_station_name"].isnull().sum()/df.shape[0])*100
#13.9% of values is missing from a column at max

13.911811797330738

In [16]:
#finding the percentage of missing values out of total cells 
total_cells = np.product(df.shape)  #finding rows*columns
total_missing = missing.sum()  #from missing finding sum (gives total of null values in all columns)
# percent of data that is missing
percent_missing = (total_missing/total_cells) * 100
print(percent_missing)

4.156490728506051

In [17]:
df.describe()
#gives values only for the columns with numeric datatype

          start_lat     start_lng       end_lat       end_lng
count  5.723532e+06  5.723532e+06  5.718816e+06  5.718816e+06
mean   4.190065e+01 -8.764629e+01  4.190091e+01 -8.764650e+01
std    4.649557e-02  2.974885e-02  4.657768e-02  2.935251e-02
min    4.164000e+01 -8.784000e+01  4.139000e+01 -8.897000e+01
25%    4.188132e+01 -8.766014e+01  4.188132e+01 -8.766028e+01
50%    4.189862e+01 -8.764194e+01  4.189897e+01 -8.764288e+01
75%    4.192889e+01 -8.762775e+01  4.192914e+01 -8.762775e+01
max    4.563503e+01 -7.379648e+01  4.216812e+01 -8.749000e+01

### Checking for duplicate values

In [18]:
#ride_id should have unique values 
df["ride_id"].nunique()  
#there are 5723532 unique values in ride_id column total rows=5723532

5723532

In [19]:
# checking the number of unique values per column
print("Unique values per column")
for col in df.columns:
    print(f"{col}: {df[col].nunique()}")

Unique values per column
ride_id: 5723532
rideable_type: 3
started_at: 4793191
ended_at: 4787114
start_station_name: 861
start_station_id: 852
end_station_name: 860
end_station_id: 852
start_lat: 433057
start_lng: 411835
end_lat: 434703
end_lng: 396215
member_casual: 2

- "ride_id", presumably the intended primary key of this table, clearly has  no duplicates since the number of unique values is equal to the data frame's size(records)
- "rideable_type" and "member_casual" both have a limited number of unique values
- There are more station_name than station id, which implies that many station IDS are associated with multiple station name (one id for multtiple station name as id :852< name:861)

In [20]:
stations_df = pd.read_csv("Divvy_Bicycle_Stations.csv", usecols = ['ID', 'Station Name', 'Latitude', 'Longitude'], index_col = 'Station Name')
stations_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 846 entries, Troy St & Jackson Blvd to McClurg Ct & Ohio St
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         846 non-null    int64
 1   Latitude   846 non-null    float64
 2   Longitude  846 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 26.4+ KB

In [21]:
stations_df.head()

                                             ID   Latitude  Longitude
Station Name
Troy St & Jackson Blvd      1594046383808271024  41.877505 -87.704850
Western Ave & Fillmore St                   644  41.868563 -87.686234
Indiana Ave & Roosevelt Rd                  255  41.867888 -87.623041
Prospect Sq & 91st St                       684  41.728234 -87.667524
Fairbanks Ct & Grand Ave                     24  41.891847 -87.620580

In [22]:
def get_inconsistent_ids_series():
    """Get a pandas series of stations sharing the same ID and their value counts"""
    start_ids_sr = df.groupby(['start_station_id','start_station_name']).size().rename_axis(index={'start_station_id': 'id', 'start_station_name': 'station_name'})
    end_ids_sr = df.groupby(['end_station_id','end_station_name']).size().rename_axis(index={'end_station_id': 'id', 'end_station_name': 'station_name'})

    vc1 = start_ids_sr.reset_index()['id'].value_counts()
    vc2 = end_ids_sr.reset_index()['id'].value_counts()

    start_ids_with_many_names = vc1[vc1 > 1].index
    end_ids_with_many_names = vc2[vc2 > 1].index

    start_mask = start_ids_sr.index.get_level_values(0).isin(start_ids_with_many_names)
    start_ids_sr[start_mask]
    end_mask = end_ids_sr.index.get_level_values(0).isin(end_ids_with_many_names)
    end_ids_sr[end_mask]

    return pd.concat([start_ids_sr[start_mask], end_ids_sr[end_mask]], axis = 0)

inconsistent_ids_series = get_inconsistent_ids_series()
print("Number of station IDs with more than one name associated with it:", len(inconsistent_ids_series))
inconsistent_ids_series.head(10)

Number of station IDs with more than one name associated with it: 40

id      station_name
13099   Halsted St & 18th St                   1752
        Halsted St & 18th St (Temp)            1830
13300   DuSable Lake Shore Dr & Monroe St     23459
        Lake Shore Dr & Monroe St             22133
351     351                                       2
        Mulligan Ave & Wellington Ave           317
444     N Shore Channel Trail & Argyle Ave       11
        N Shore Channel Trail & Argyle St        32
LF-005  DuSable Lake Shore Dr & North Blvd    25767
        Lake Shore Dr & North Blvd            21996
dtype: int64

In [23]:
start_ids_sr = df.groupby(['start_station_id','start_station_name']).size().rename_axis(index={'start_station_id': 'id', 'start_station_name': 'station_name'})
start_ids_sr

id                                     station_name
13001                                  Michigan Ave & Washington St             25878
13006                                  LaSalle St & Washington St               10623
13008                                  Millennium Park                          42287
13011                                  Canal St & Adams St                      18445
13016                                  St. Clair St & Erie St                   29948
                                                                                ...
Throop/Hastings Mobile Station         Throop/Hastings Mobile Station               2
WL-008                                 Clinton St & Roosevelt Rd                 8405
WL-011                                 Jefferson St & Monroe St                  9131
WL-012                                 Clinton St & Washington Blvd             22421
Wilton Ave & Diversey Pkwy - Charging  Wilton Ave & Diversey Pkwy - Charging       18
Length: 863, dtype: int64

In [24]:
vc1 = start_ids_sr.reset_index()['id'].value_counts()
vc1   #taking only the id column 
#finding count for each unique values in id

TA1306000029                             3
13300                                    2
351                                      2
LF-005                                   2
13099                                    2
                                        ..
20233                                    1
20234                                    1
20235                                    1
20236                                    1
Wilton Ave & Diversey Pkwy - Charging    1
Name: id, Length: 852, dtype: int64

In [25]:
vc1[vc1 > 1]  #id where vc1 is greater than 1

TA1306000029    3
13300           2
351             2
LF-005          2
13099           2
TA1305000039    2
TA1309000039    2
TA1309000049    2
444             2
TA1307000041    2
Name: id, dtype: int64

In [26]:
start_ids_with_many_names = vc1[vc1 > 1].index  #taking only the ids
start_ids_with_many_names

Index(['TA1306000029', '13300', '351', 'LF-005', '13099', 'TA1305000039',
       'TA1309000039', 'TA1309000049', '444', 'TA1307000041'],
      dtype='object')

In [27]:
start_ids_sr.index()  #as the index values are not unique and has duplicate we get error

TypeError: 'MultiIndex' object is not callable

In [28]:
start_ids_sr.index.get_level_values(0)

Index(['13001', '13006', '13008', '13011', '13016', '13017', '13021', '13022',
       '13028', '13029',
       ...
       'TA1309000061', 'TA1309000063', 'TA1309000064', 'TA1309000066',
       'TA1309000067', 'Throop/Hastings Mobile Station', 'WL-008', 'WL-011',
       'WL-012', 'Wilton Ave & Diversey Pkwy - Charging'],
      dtype='object', name='id', length=863)

In [29]:
start_ids_sr.index.get_level_values(0).isin(start_ids_with_many_names)

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False,  True,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True,  True,  True, False,
       False, False, False, False, False,  True,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False,  True,  True, False, False, False,  True,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False])

In [30]:
start_mask = start_ids_sr.index.get_level_values(0).isin(start_ids_with_many_names)
start_ids_sr[start_mask]

id            station_name
13099         Halsted St & 18th St                       1752
              Halsted St & 18th St (Temp)                1830
13300         DuSable Lake Shore Dr & Monroe St         23459
              Lake Shore Dr & Monroe St                 22133
351           351                                           2
              Mulligan Ave & Wellington Ave               317
444           N Shore Channel Trail & Argyle Ave           11
              N Shore Channel Trail & Argyle St            32
LF-005        DuSable Lake Shore Dr & North Blvd        25767
              Lake Shore Dr & North Blvd                21996
TA1305000039  Elston Ave & Cortland St                   7543
              Marshfield Ave & Cortland St               1495
TA1306000029  DuSable Lake Shore Dr & Ohio St           10476
              Lake Shore Dr & Ohio St                    9534
              McClurg Ct & Ohio St                       1490
TA1307000041  DuSable Lake Shore Dr & Wellington Ave    12717
              Lake Shore Dr & Wellington Ave             9743
TA1309000039  DuSable Lake Shore Dr & Diversey Pkwy     12377
              Lake Shore Dr & Diversey Pkwy             10110
TA1309000049  DuSable Lake Shore Dr & Belmont Ave       13198
              Lake Shore Dr & Belmont Ave                9478
dtype: int64

It looks like IDs can associate with several station names due to the time series nature of our data set and the evolution of station names and locations from events like relocations, renovations, and renamings. We'll move forward assuming that these instances are valid since they point to the same station.

## Transforming and cleaning the data

In [31]:
df_mem_usage = df.memory_usage(deep = True)/1_000_000
df_mem_usage # give the size of the columns in df in MB

Index                   0.000128
ride_id               417.817836
rideable_type         396.788571
started_at             45.788256
ended_at               45.788256
start_station_name    425.907421
start_station_id      349.744385
end_station_name      423.504240
end_station_id        348.071621
start_lat              45.788256
start_lng              45.788256
end_lat                45.788256
end_lng                45.788256
member_casual         360.582516
dtype: float64

In [32]:
def cols_mem_usage(*args: str) -> None:
    """Print dataframe column's memory usage in megabytes."""
    df_mem_usage = df.memory_usage(deep = True)
    for col_name in list(args):
        print(f"{col_name} total memory usage: {df_mem_usage[col_name]/1_000_000}MB")

#converting rideable_type and member_casual to category datatype
#The category data type in pandas is a hybrid data type. 
#It looks and behaves like a string in many instances but internally is represented by an array of integers. 
#This allows the data to be sorted in a custom order and to more efficiently store the data
print("Before:")
cols_mem_usage('rideable_type','member_casual') #calling the function 

# let's convert these low unique count columns into categories (categories is a effiecient datatype in terms of memory)
df['rideable_type'] = df['rideable_type'].astype('category')
df['member_casual'] = df['member_casual'].astype('category')

print("After:")
cols_mem_usage('rideable_type','member_casual')  #calling the function

Before:
rideable_type total memory usage: 396.788571MB
member_casual total memory usage: 360.582516MB
After:
rideable_type total memory usage: 5.723847MB
member_casual total memory usage: 5.723766MB

In [33]:
#function to get no of dupliate value in columns
def get_duplicates(field: str):  #input field in  str datatype
    vc = df[field].value_counts()
    duplicate_index = vc[vc > 1].index.to_list()
    n_duplicates = len(duplicate_index)   #no of duplicates is len of the list
    print(f"Number of duplicates for {field}: {n_duplicates}")
    if n_duplicates > 0:
        print("Sample rows:")
        mask = df[field].isin(duplicate_index)  # isin is like a in operator in python
        return df[mask].sort_values(by = field).head(4) #printing four rows which has duplicate records
    return

get_duplicates('ride_id')

Number of duplicates for ride_id: 0

In [34]:
vc = df['ride_id'].value_counts()  
vc  #gives a series object as ouput
#index            value

6C992BD37A98A63F    1
C959654606C3E9CF    1
1743B92404FCEBCF    1
D04E5B8D57701D84    1
7130D5B74EBAE98A    1
                   ..
7E64F0F87A1ECFD2    1
B33F2286F8062A00    1
4FE09D3068AC20F7    1
BADD19DC44B4B99C    1
5AEC5F39AF711895    1
Name: ride_id, Length: 5723532, dtype: int64

In [35]:
#getting only those records index where value>1 and converting to list
duplicate_index = vc[vc > 1].index.to_list() 
duplicate_index

[]

##  Finding ride _duration in negative

In [37]:
negative_ride = (df['ended_at'] - df['started_at']) < pd.Timedelta("0 days")
print("Number of rows with negative ride durations:", len(df.loc[negative_ride]))

Number of rows with negative ride durations: 145

In [38]:
pd.Timedelta("0 days")   # just 0 days

Timedelta('0 days 00:00:00')

In [39]:
(df['ended_at'] - df['started_at'])  #output is in timedelta format

0         0 days 00:31:19
1         0 days 01:04:18
2         3 days 22:57:39
3         0 days 00:25:06
4         0 days 01:31:17
                ...
5723527   0 days 00:08:29
5723528   0 days 00:46:12
5723529   0 days 00:13:28
5723530   0 days 00:05:40
5723531   0 days 00:09:59
Length: 5723532, dtype: timedelta64[ns]

In [40]:
(df['ended_at'] - df['started_at'])< pd.Timedelta("0 days") #check and give rows where days is less than 0 days

0          False
1          False
2          False
3          False
4          False
           ...
5723527    False
5723528    False
5723529    False
5723530    False
5723531    False
Length: 5723532, dtype: bool

In [41]:
df["Ride_duration"]=(df['ended_at'] - df['started_at']) #output is in timedelta format

In [42]:
df.head(1)  #Ride_duration column is added

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Ride_duration
0,6C992BD37A98A63F,classic_bike,2021-04-12 18:25:36,2021-04-12 18:56:55,State St & Pearson St,TA1307000061,Southport Ave & Waveland Ave,13235,41.897448,-87.628722,41.94815,-87.66394,member,0 days 00:31:19

In [43]:
negative_ride= df["Ride_duration"]< pd.Timedelta("0 days")
negative_ride

0          False
1          False
2          False
3          False
4          False
           ...
5723527    False
5723528    False
5723529    False
5723530    False
5723531    False
Name: Ride_duration, Length: 5723532, dtype: bool

In [44]:
df[negative_ride]  #df.loc[] and df[]  are almost same

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Ride_duration
22361,BC53ECCBC76278FD,classic_bike,2021-04-07 16:11:33,2021-04-07 16:11:26,Ashland Ave & Grand Ave,13434,Ashland Ave & Grand Ave,13434,41.891072,-87.666611,41.891072,-87.666611,member,-1 days +23:59:53
31844,209C097828F9CD43,electric_bike,2021-04-27 17:13:44,2021-04-27 17:11:32,NaN,NaN,NaN,NaN,41.910000,-87.640000,41.910000,-87.640000,member,-1 days +23:57:48
292566,6E81034B446FC2FD,electric_bike,2021-04-23 09:43:39,2021-04-23 09:43:29,Dayton St & North Ave,13058,Dayton St & North Ave,13058,41.910638,-87.649372,41.910650,-87.649386,member,-1 days +23:59:50
292678,318DD838369AEA61,classic_bike,2021-04-30 10:56:32,2021-04-30 10:56:30,Dayton St & North Ave,13058,Dayton St & North Ave,13058,41.910578,-87.649422,41.910578,-87.649422,member,-1 days +23:59:58
293033,8ADD13BD8F6A7567,classic_bike,2021-04-17 12:43:36,2021-04-17 12:43:27,Dayton St & North Ave,13058,Dayton St & North Ave,13058,41.910578,-87.649422,41.910578,-87.649422,member,-1 days +23:59:51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4969725,5AA2BC364BC7A569,electric_bike,2021-11-07 01:59:53,2021-11-07 01:09:02,NaN,NaN,NaN,NaN,41.920000,-87.690000,41.900000,-87.700000,casual,-1 days +23:09:09
4971172,F4E4485BFB33D916,electric_bike,2021-11-07 01:57:53,2021-11-07 01:27:02,NaN,NaN,NaN,NaN,41.910000,-87.720000,41.900000,-87.770000,casual,-1 days +23:29:09
4972542,B506DCD44974C575,electric_bike,2021-11-07 01:53:34,2021-11-07 01:00:42,Milwaukee Ave & Fullerton Ave,428,NaN,NaN,41.920000,-87.700000,41.910000,-87.710000,casual,-1 days +23:07:08
5623702,2D97E3C98E165D80,classic_bike,2022-03-05 11:00:57,2022-03-05 10:55:01,DuSable Lake Shore Dr & Wellington Ave,TA1307000041,DuSable Lake Shore Dr & Wellington Ave,TA1307000041,41.936688,-87.636829,41.936688,-87.636829,casual,-1 days +23:54:04
5626879,7407049C5D89A13D,electric_bike,2022-03-05 11:38:04,2022-03-05 11:37:57,Sheffield Ave & Wellington Ave,TA1307000052,Sheffield Ave & Wellington Ave,TA1307000052,41.936313,-87.652522,41.936253,-87.652662,casual,-1 days +23:59:53

In [45]:
print("Number of rows with negative ride durations:", len(df.loc[negative_ride]))
# number of negative values  (look at ride_duration column value are in negative)

Number of rows with negative ride durations: 145

In [46]:
df=df[~negative_ride]  #only taking columns that have ride_duration positive values

In [47]:
negative_ride= df["Ride_duration"]< pd.Timedelta("0 days")
negative_ride
print("Number of rows with negative ride durations:", len(df.loc[negative_ride]))
#all the rows with negative values is deleted

Number of rows with negative ride durations: 0

# MISSING VALUES